nav {
  background-color: #e3f2fd;
  .container {
    display: flex;
    flex-wrap: nowrap !important;
  }
  .nav-link {
    background: transparent;
    border: none;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 75%;
  }
}

.login-and-search-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .login {
    border: none;
    margin: 0 10px;
    border-radius: 50%;
    min-height: 45px;
    min-width: 45px;
    background: black;
    padding: 0;

    svg {
      height: 30px;
      width: 30px;
      display: block;
      margin: auto;
    }
  }
}
